body {
    background-image: url(./images/UberEats-background.png) ;
    margin: 0;
}

/* NavBar CSS*/
nav{ 
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:  0px 40px;
    width: 100vw;
    height: 96px;
    box-sizing: border-box;
}

#navBarLogo {
    width: 134px;
    height: 24px;
    align-self: center;
    justify-content: flex-start;
    margin: 20px;
}

#LogInButton {
    width: 101px 48px;
    padding: 12px 16px;
    color: black;
    align-self: center;
    border-radius: 100px;
    border: none;
    margin: 0px 20px;
    font-size: 16px;;
    box-shadow: 0px 4px 4px grey;
}

#SignUpButton { 
    background-color: black;
    width: 88px 48px;
    padding: 12px 16px;
    -webkit-text-fill-color: white;
    align-self: center;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    
}

#menuToolbar  div{
    height: 3px;
    width: 20px;
    background-color: black;
    margin: 5px
    ;

}

#NavLeftItems {
display: flex;
align-items: center;
}

#NavBarRightItems {
    display: flex;
align-items: center;
box-shadow: 10px;


}